<div>
    <span>Player</span>
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span>6</span>
    <span>7</span>
    <span>Total</span>
</div>
<div>
    <span>Player 1</span>
    <span><input type="number" name="P1H1Score"></span>
    <span><input type="number" name="P1H2Score"></span>
    <span><input type="number" name="P1H3Score"></span>
    <span><input type="number" name="P1H4Score"></span>
    <span><input type="number" name="P1H5Score"></span>
    <span><input type="number" name="P1H6Score"></span>
    <span><input type="number" name="P1H7Score"></span>
    <span>Total</span>
</div>