<div>
    <div>
    <span>
        <label>Score</label>
        <label>Bolters</label>
    </span>
    </div>
    <div>
    <span>
        <input type="number" name="score<%= handNumber %>" id="score<%= handNumber %>">
        <input type="number" name="bolters<%= handNumber %>" id="bolters<%= handNumber %>">
    </span>
    </div>  
</div>