<div>
    <div>
    <span>
        <label>Score</label>
        <label>Bolters</label>
    </span>
    </div>
    <div>
    <span>
        <input type="number" name="score" id="score">
        <input type="number" name="bolters" id="bolters">
    </span>
    </div>  
</div>