<h2>New Competition</h2>
<form action="/Competitions" method="post">
    <label>Season Name:</label>
    <input type="text" name="seasonName" value="">
    <label>Start date:</label>
    <input type="date" name="seasonStartDate" value="">
    <label>Team Name:</label>
    <input type="date" name="seasonEndDate" value="">
    <a href="/Competitions">Cancel</a>
    <button type="submit">Create</button>
</form>