<form action="/users/register" method="post">
    <label>User Name:</label>
    <input type="text" name="userName" value="">
    <label>Password:</label>
    <input type="text" name="password" value="">
    <label>Role:</label>
    <select name="newUserRole">
        <option value="LeagueSecretary">League Secratary</option>
        <option value="Treasurer">League Treasurer</option>
        <option value="CommitteeMember">Committee Member</option>
        <option value="TeamSecratary">Team Secratary</option>
        <option value="TeamCaptain">Team Captain</option>
        <option value="Player">Player</option>
    </select>
    <button type="submit">Register</button>
    <a href="/">Cancel</a>
</form>